################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs

#
*.exe


#Bin Debug Release
*/obj
*/bin