################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea

#
*.exe


#Bin Debug Release
*/obj
*/bin