################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/EU4SaveEditor/v15

#
*.exe


#Bin Debug Release
/EU4SaveEditor/obj
/EU4SaveEditor/bin
